# Rendimiento Relativo
---

In [2]:
%load_ext autoreload
%autoreload 2
# import modules

import indicators

import pandas as pd 
import numpy as np
import yfinance as yf

import os
from datetime import date
from datetime import datetime

In [3]:
folderPath_rsrc = '/Resources/'
folderPath_results = '/Results/'
cwd = os.getcwd()
path_rsrc = cwd + folderPath_rsrc
path_results = cwd + folderPath_results
# read data
ETFs = pd.read_excel(path_rsrc + "ETFs list.xlsx")

In [4]:
ETFs

,Technology,Energy,Telecom,Consumer Discretionary,Real Estate,Industrials,Utilities,Materials,Healthcare,Consumer Staples,Financials
0,AAPB,ACES,FCOM,AMZD,BBRE,AIRR,BLLD,ALUM,AGNG,CHIS,BDCX
1,AAPD,AMJ,IXP,AMZU,BLDG,AQWA,CHIU,BATT,ARKG,CLIX,BDCZ
2,AAPU,AMLP,IYZ,BAD,BYRE,ARKX,ECLN,CHIM,BBC,EATV,BIZD
3,AIQ,AMNA,LTL,BEDZ,CHIR,AWAY,EMIF,CIRC,BBH,EATZ,BNKD
4,ARKK,AMND,NXTG,BETZ,DFGR,BDRY,FUTY,COPX,BBP,ECON,BNKU
...,...,...,...,...,...,...,...,...,...,...,...
163,XPND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,XSD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,XSW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,XT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,XWEB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
sector = "Energy"
energy = ETFs[sector]
energy.dropna(inplace=True)
energy = energy.to_list()

## Descargar datos

In [10]:
energy[:5]

['ACES', 'AMJ', 'AMLP', 'AMNA', 'AMND']

In [23]:
# Descargar data diaria
end_ = date.today()  # yyyy-mm-dd
meses_atras = 3  # 3 is fine due we need at least 50 cnadles data.
if end_.day == 31:
    start_ = datetime(end_.year, end_.month - meses_atras, 30)
else:
    start_ = datetime(end_.year, end_.month - meses_atras, end_.day)

data = yf.download(energy, start=start_, end=end_, interval="1d")

[*********************100%%**********************]  86 of 86 completed

In [25]:
close_df = data.Close

In [26]:
close_df.head()

,ACES,AMJ,AMLP,AMNA,AMND,AMTR,AMUB,AMZA,ATMP,BNE,...,TPYP,UMI,USAI,VCLN,VDE,VMAT,WNDY,XES,XLE,XOP
Date,,,,,,,,,,,,,,,,,,,,,
2023-08-09,43.720001,23.879999,41.000000,37.842999,38.833000,50.397999,15.039,33.250000,20.959999,25.458000,...,25.430000,35.720001,28.040001,19.760000,124.070000,27.027000,14.96,94.449997,88.550003,148.339996
2023-08-10,43.020000,23.879999,40.259998,37.851002,38.785999,50.409000,15.061,33.410000,20.940001,25.219999,...,25.389999,35.624001,27.950001,19.511000,123.910004,27.087999,14.85,93.779999,88.540001,147.070007
2023-08-11,42.650002,24.120001,40.770000,38.112999,39.091000,50.724998,15.191,33.669998,21.139999,24.898001,...,25.481001,35.888000,28.148001,19.450001,125.680000,26.938999,14.52,94.639999,89.900002,148.809998
2023-08-14,42.700001,23.980000,40.639999,37.791000,38.827999,50.396000,15.108,33.549999,21.000000,24.681000,...,25.280001,35.571999,27.886999,19.481001,125.089996,27.106001,14.55,93.529999,89.519997,147.770004
2023-08-15,41.369999,23.770000,40.180000,37.335999,38.358002,49.835999,14.996,33.130001,20.850000,24.165001,...,24.997999,35.162998,27.601999,18.865999,122.500000,26.827999,14.18,91.870003,87.660004,145.000000

## Calculate SMA (50 days)

In [29]:
def _sma(data, period=50):
    """
    Parameters
    ----------
    data: pandas dataframe
        Dataframe populated with prices.
    period: int
        Lookback period to compute the SMA.
    """
    SMA = data.rolling(window=period).mean()
    
    return SMA

In [31]:
days = 50
sma = _sma(close_df, period=days)

In [32]:
sma

,ACES,AMJ,AMLP,AMNA,AMND,AMTR,AMUB,AMZA,ATMP,BNE,...,TPYP,UMI,USAI,VCLN,VDE,VMAT,WNDY,XES,XLE,XOP
Date,,,,,,,,,,,,,,,,,,,,,
2023-08-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-11-02,36.22066,24.4506,41.8272,37.53138,38.92608,50.19246,15.39412,34.5825,20.9186,22.17092,...,24.85998,35.32614,27.54348,17.10864,125.2166,26.19180,12.70016,93.6922,89.2596,147.403199
2023-11-03,36.07228,24.4854,41.8908,37.55318,38.95616,50.23754,15.41560,34.6311,20.9342,22.12288,...,24.87158,35.35062,27.56026,17.06834,125.2338,26.19364,12.66956,93.6924,89.2582,147.473599
2023-11-06,35.89548,24.5228,41.9426,37.56516,38.97664,50.26928,15.43878,34.6737,20.9518,22.06938,...,24.87438,35.36802,27.56936,17.02156,125.1920,26.19234,12.64016,93.6510,89.2204,147.428199
2023-11-07,35.71008,24.5528,41.9832,37.56242,38.98384,50.28114,15.45774,34.6995,20.9624,22.00656,...,24.86978,35.37850,27.56784,16.96884,125.0742,26.18814,12.60484,93.4982,89.1328,147.284399
2023-11-08,35.47328,24.5746,42.0038,37.54996,38.97984,50.27950,15.47096,34.7117,20.9664,21.92740,...,24.85718,35.37662,27.55940,16.90428,124.9204,26.17648,12.56264,93.3262,89.0194,147.065799